*{
    margin:0;
    padding:0;
}
body{
    background-color: slategrey;
    background-image: url('../assets/coronavirus.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.contenedor{
   
    transform: translatey(10.5%);

}

.columna{
    width: 100%;
    border: 20px solid white;
    border-radius:2rem;
    margin:0 0 2rem 0;
    cursor: pointer;
}
.popup{
    opacity: 0;
    width: 5rem;
    height: 6rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.479);
    transform: translate(286%,60%);
    transition:.3s;
    border-radius:.3rem;
    
}
.popup-hover{
    opacity: 1;
}
li{
    list-style: none;
    font-size: 1rem;
    margin-left:.5rem;
    color:white;
    font-weight: bold;
}

.danger{
    border-color: rgb(249, 160, 160);
}
.warning{
    border-color:  rgb(243, 240, 170);
}
.right{
    border-color: rgb(174, 245, 173);
}
.color-background{
    background-color: rgba(6, 6, 6, 0.18);
}
h1,p{
    color:white;
}
h1{
    text-transform: uppercase;
    
}
p{
    margin-left: 1rem;
    font-size: 2rem;
}
i{
    padding-left:1rem;
}